@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background-color: #fbf5f5;
  font-family: Poppins, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 70%;
}

h1 {
  color: rgb(8, 0, 255);
  font-size: 50px;
}

h3 {
  margin: 0;
  font-size: 30px;
  color: rgb(73, 78, 246);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container .scores {
  width: 50%;
}

.scores .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scores .scores-list {
  border: 1px solid black;
  list-style: none;
  padding-left: 0;
  border-radius: 10px;
  color: rgb(45, 40, 208);
}

.scores-list .recent-score {
  padding: 10px 15px;
}

.recent-score:nth-child(even) {
  background-color: rgb(45, 40, 208);
  color: white;
}

.container form {
  padding: 0 5%;
}

.container form input {
  width: 94.5%;
  height: 30px;
  padding: 5px 10px;
  margin: 10px 0;
}

button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  background-color: rgb(45, 40, 208);;
  color: white;
  border: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}

.container form button {
  float: right;
}

.warning {
  width: 96%;
  padding: 10px;
  color: rgb(221, 221, 221);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
}

.danger {
  background-color: red;
}

.success {
  background-color: green;
}
